
.section2 {
    width: 80%;
    height: 200vw;
    background-color: cyan;
    position: relative;
    
  }
  
.navbar {
    position: fixed;
    width:30%;
    height: 30px;
    background-color: white;
    border: 1px solid black;
  }
  
  .top-left {
    top:0;
    left:0;
  }
  
  .center {
    top:45vh;
    left:40vw;
  }
  
  .bottom-right {
   bottom:0;
   right:0;
  }